*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    font-family: 'Oxygen', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* Header Styles */

header{

}

#top_header{
    background-color: rgb(197, 48, 48);
}

#top_header p{
    color: #fff;
    font-size: .8em;
}

#top_header .container{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#top_header .container .top_nav a{
    text-decoration: none;
    color: #fff;
    font-size: .8em;
    padding: 0 10px;
}

#mid_header{
    background-color: rgb(224, 54, 54);
    height: 175px;
}

#mid_header .container .inner{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#mid_header .title{
    color: #fff;
    text-transform: uppercase;
}

#mid_header .logo{
    margin-right: 10px;
}

#mid_header .logo img{
    height: 100px;
    width: 100px;

}

#bottom_header{
    height: 0;
}

#bottom_header nav{
    transform: translateY(-50px);
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #888;
}

#bottom_header nav ul li{
    display: inline-block;
    list-style-type: none;
}

#bottom_header nav ul li a{
    text-decoration: none;
    display: block;
    padding: 25px 30px;
    font-weight: bold;
    color: #111;
    border-bottom: 4px solid #fff;
    transition: all 300ms;
}

#bottom_header nav ul li a:hover{
    border-bottom: 4px solid rgb(224, 54, 54);
    background-color: #f1f1f1;
}


/* Main */
main{
    margin-top: 50px;
}

main .container{
    display: flex;
    justify-content: space-between;
}

main .container .image-slider{
    width: 650px;
    height: 480px;
    background-image: url('../images/image_1.jpg');
    background-size: cover;
    background-position: center;
}

main .container .social-media h3{
    padding: 5px 10px;
    background-color: rgb(224, 54, 54);
    color: #fff;
}

main .container .social-media{
    width: 300px;
    overflow: hidden;
}

/* Events */
#events{
    margin-top: 15px;
}

#events h2{
    background-color: rgb(224, 54, 54);
    color: #fff;
    padding: 0 15px;
}

#events .news{
    padding: 15px;
}

#events .news p{
    margin-top: 10px;
    margin-bottom: 10px;
}





/* ADMIN STYLES */

#admin_login{
    padding: 50px 0;
}

#admin_login .container{
    
}

#admin_login .container form{
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #ccc;
    padding: 30px;
    width: 500px;
    margin: auto;
}

#admin_login .container form .form_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin_login .container form .form_inner input{
    margin: 5px auto;
}

#admin_login .container form .form_inner input[type="text"]{
    border: 1px solid #bbb;
    margin-left: 10px;
    border-radius: 3px;
    padding: 3px 10px;
}

#admin_login .container form .form_inner input[type="password"]{
    border: 1px solid #bbb;
    margin-left: 10px;
    border-radius: 3px;
    padding: 3px 10px;
}

#admin_login .container form .form_inner input[type="submit"]{
    padding: 3px 10px;
    border: 1px solid rgb(224, 94, 54);
    border-radius: 3px;
    background: linear-gradient(90deg, rgb(224,54,54), rgb(197, 48, 48));
    color: #fff;
    cursor: pointer;
}

#admin_login .container form .form_inner h2{
    border-bottom: 2px solid #eee;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}